<ion-header>

  <ion-navbar color="danger">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row *ngFor="let quote of quotation; let i = index" (click)="quotespage(i)">
			
			<ion-col col-3>
				<img [src]="'assets/imgs/'+quote.image">
			</ion-col>
			<ion-col col-7>
				{{ quote.productname }}<br>
				<span *ngIf="quote.comment">
					<ion-note>Maintenance</ion-note>
				</span>
				<span *ngIf="quote.qty">
					<ion-note>Qty: {{ quote.qty }}</ion-note>
				</span>
			</ion-col>
			<ion-col col-2>
				<br>
				  <ion-icon name="arrow-round-forward"></ion-icon>
			</ion-col>
			<ion-col col-12>
				<hr>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
