<ion-header>

  <ion-navbar color="danger">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form (ngSubmit)="submit(f)" #f="ngForm">
		<ion-list>
			  <ion-list radio-group 
			  		name="callrequest"
			  		required
			  		[(ngModel)]="call">
				  <ion-list-header>
				    <h3 class="call">What's your feedback?</h3>
				  </ion-list-header>

				  <ion-item>
				    <ion-label>Report a Problem</ion-label>
				    <ion-radio checked="true" value="yes"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>Make a suggestion</ion-label>
				    <ion-radio value="no"></ion-radio>
				  </ion-item>

				</ion-list>
			<div *ngIf="call == 'yes'" >
				<ion-item>
					<ion-label floating>Vehicle Model</ion-label>
					<ion-input 
					type="text" 
					name="vehicle_model"
					required
					ngModel></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>Vehicle Type</ion-label>
					<ion-input 
					type="text" 
					name="vehicle_type"
					required
					ngModel></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>What is your complain</ion-label>
					<ion-textarea 
					name="comment"
					required
					ngModel></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label floating>Contact Details</ion-label>
					<ion-input 
					type="text" 
					name="vehicle_type"
					required
					ngModel></ion-input>
				</ion-item>
			</div>

			<div *ngIf="call == 'no'">
				<ion-item>
					<ion-label floating>What is your suggestion</ion-label>
					<ion-textarea 
					name="comment"
					required
					ngModel></ion-textarea>
				</ion-item>
			</div>
			
			
		</ion-list>
		<button color="danger" ion-button block type="submit" [disabled]="!f.valid || f.value.callrequest == 'no' ">Send</button>
		
	</form>
</ion-content>
