<ion-header>

  <ion-navbar color="danger">
    <ion-title>Quotation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<img [src]="'assets/imgs/'+quotation.image">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h3>{{ quotation.productname }}</h3>
				<p>{{ quotation.product_type }}</p>
				<span *ngIf="quotation.comment">
					Complain: <ion-note> {{ quotation.comment }}</ion-note>
				</span>
				<span *ngIf="quotation.qty">
					<ion-note>Quantity Order: {{ quotation.qty }}</ion-note>
				</span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
