page-service {
	ion-list-header.item .item-md .list-header .list-header-md{
		border-top: none !important;
	}
	.list-header-md{
		border-top: none !important;
	}
	ion-list-header.line .item-inner{
		border-bottom: 1px solid #dedede;
	}
	.call{
		color: #000;
	}
}
