<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{ prod_idex.product_name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<img [src]="'assets/imgs/'+prod_idex.product_image_1">
			</ion-col>
			<ion-col col-6>
				<img [src]="'assets/imgs/'+prod_idex.product_image_2">
			</ion-col>
			<ion-col col-6>
				<img [src]="'assets/imgs/'+prod_idex.product_image_3">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<h3>{{ prod_idex.product_name }}</h3>
				<p>{{ prod_idex.product_desc }}</p>
			</ion-col>
		</ion-row>

			<form (ngSubmit)="submit(f)" #f="ngForm">
		<ion-row *ngIf="prod_idex.product_type == 1">
			<ion-col col-5>
					<ion-item>
						<ion-label stacked>Quantity</ion-label>
						<ion-input 
						type="number" 
						name="quantity" 
						placeholder="4"
						required
						ngModel
						[value]="model"></ion-input>
					</ion-item>
				</ion-col>
		</ion-row>
		<ion-row *ngIf="prod_idex.product_type == 2">
				
			
						<ion-item>
							<ion-label stacked>Vehicle No:</ion-label>
							<ion-input 
							type="text" 
							name="vehicle_no" 
							placeholder="Vehicle No"
							required
							ngModel></ion-input>
						</ion-item>
						
						<ion-item>
							<ion-label stacked>Chassis No:</ion-label>
							<ion-input 
							type="text" 
							name="chassis_no" 
							placeholder="Chassis No"
							required
							ngModel></ion-input>
						</ion-item>
						<ion-item>
							<ion-label stacked>Part No:</ion-label>
							<ion-input 
							type="text" 
							name="part_no" 
							placeholder="Part No"
							required
							ngModel></ion-input>
						</ion-item>
						<ion-item>
							<ion-label stacked>Part Description:</ion-label>
							<ion-textarea name="desc"
								  placeholder="Part Description"
								  required
								  ngModel></ion-textarea>
						</ion-item>
		</ion-row>
	</form>
	</ion-grid>
</ion-content>

<ion-footer>
	<button ion-button color="danger" block (click)="addquotation()" [disabled]="!f.valid">Add to Cart</button>
</ion-footer>
