page-home4 {
	.backgroundimg{
		background-image: url('../assets/imgs/2018_Toyota_Camry__11_.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
	}
}
