<ion-header>

  <ion-navbar color="danger">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vehicle Models</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<!-- <ion-grid>
		<ion-row *ngFor="let product of products; let i = index">
			<ion-col col-12>
				<img [src]="'assets/imgs/toyota1.jpeg'">
			</ion-col>
			<ion-col col-12>
				<h3>{{ product.ProductName }}</h3>
				<p>{{ product.Description }}</p>
				<button ion-button color="danger" block (click)="viewproduct(i)">View {{product.ProductName}}</button>
				<br><br><br><br><br>
			</ion-col>

		</ion-row>
	</ion-grid> -->

	<ion-row>
    <ion-col class='bdstyle' (click)="showdetail('appointment')">
        <h2>Saloon</h2>
    </ion-col>

    <ion-card *ngIf="element == 'appointment'" [@enterAnimation]>
    	<ion-row (click)="showvehicle(model.id)" *ngFor="let model of saloon">
    		<ion-col col-3>
				<img [src]="'assets/imgs/'+model.img">
			</ion-col>
			<ion-col col-7>
				<br>
			{{model.name}}
			</ion-col>
			<ion-col col-2>
				<br>
				  <ion-icon name="arrow-round-forward"></ion-icon>
			</ion-col>
			<ion-col col-12>
				<hr>
			</ion-col>
    	</ion-row>
    		

      <!-- <ion-list>
        <button ion-item >
          <ion-icon name="car" item-start></ion-icon>
          
        </button>
      </ion-list> -->
    </ion-card>

  </ion-row>
  <ion-row>
    <ion-col class='bdstyle2' (click)="showdetail('repair')">
        <h2>Suvs</h2>
    </ion-col>

    <ion-card *ngIf="element == 'repair'" [@enterAnimation]>

    	<ion-row (click)="showvehicle(suvcar.id)" *ngFor="let suvcar of suv">
    		<ion-col col-3>
				<img [src]="'assets/imgs/'+suvcar.img">
			</ion-col>
			<ion-col col-7>
				<br>
			{{suvcar.name}}
			</ion-col>
			<ion-col col-2>
				<br>
				  <ion-icon name="arrow-round-forward"></ion-icon>
			</ion-col>
			<ion-col col-12>
				<hr>
			</ion-col>
    	</ion-row>

     <!-- <ion-list>
        <button ion-item (click)="showvehicle(suvcar.id)" *ngFor="let suvcar of suv">
          <ion-icon name="car" item-start></ion-icon>
          {{suvcar.name}}
        </button>


      </ion-list> -->
    </ion-card>

  </ion-row>
  <ion-row>
    <ion-col class='bdstyle3' (click)="showdetail('buses')">
        <h2>Buses</h2>
    </ion-col>

    <ion-card  *ngIf="element == 'buses'" [@enterAnimation]>

    	<ion-row (click)="showvehicle(bus.id)" *ngFor="let bus of buses">
    		<ion-col col-3>
				<img [src]="'assets/imgs/'+bus.img">
			</ion-col>
			<ion-col col-7>
				<br>
			{{bus.name}}
			</ion-col>
			<ion-col col-2>
				<br>
				  <ion-icon name="arrow-round-forward"></ion-icon>
			</ion-col>
			<ion-col col-12>
				<hr>
			</ion-col>
    	</ion-row>

      
    </ion-card>

  </ion-row>

  <ion-row>
    <ion-col class='bdstyle4' (click)="showdetail('pickups')">
        <h2>Pickups</h2>
    </ion-col>

    <ion-card  *ngIf="element == 'pickups'" [@enterAnimation]>

      <ion-row (click)="showvehicle(pickup.id)" *ngFor="let pickup of pickups">
        <ion-col col-3>
        <img [src]="'assets/imgs/'+pickup.img">
      </ion-col>
      <ion-col col-7>
        <br>
      {{pickup.name}}
      </ion-col>
      <ion-col col-2>
        <br>
          <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col col-12>
        <hr>
      </ion-col>
      </ion-row>

      
    </ion-card>

  </ion-row>

  <ion-row>
    <ion-col class='bdstyle5' (click)="showdetail('trucks')">
        <h2>Trucks</h2>
    </ion-col>

    <ion-card  *ngIf="element == 'trucks'" [@enterAnimation]>

      <ion-row (click)="showvehicle(truck.id)" *ngFor="let truck of trucks">
        <ion-col col-3>
        <img [src]="'assets/imgs/'+truck.img">
      </ion-col>
      <ion-col col-7>
        <br>
      {{truck.name}}
      </ion-col>
      <ion-col col-2>
        <br>
          <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col col-12>
        <hr>
      </ion-col>
      </ion-row>

      
    </ion-card>

  </ion-row>

  <ion-row>
    <ion-col class='bdstyle6' (click)="showdetail('certified')">
        <h2>Certified Used</h2>
    </ion-col>

    <ion-card  *ngIf="element == 'certified'" [@enterAnimation]>

      <ion-row (click)="showvehicle(cert.id)" *ngFor="let cert of certified">
        <ion-col col-3>
        <img [src]="'assets/imgs/'+cert.img">
      </ion-col>
      <ion-col col-7>
        <br>
      {{cert.name}}
      </ion-col>
      <ion-col col-2>
        <br>
          <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col col-12>
        <hr>
      </ion-col>
      </ion-row>

      
    </ion-card>

  </ion-row>

  <!-- <ion-row>
    <ion-col class='bdstyle4' (click)="showdetail('spareparts')">
        <h2>Spare Part</h2>
    </ion-col>

    <ion-card  *ngIf="element == 'spareparts'" [@enterAnimation]>

    	<ion-row (click)="showsparepart(sparepart)" *ngFor="let sparepart of spareparts">
    		<ion-col col-3>
				<img [src]="'assets/imgs/'+sparepart.image">
			</ion-col>
			<ion-col col-7>
				<br>
			{{sparepart.product_name}}
			</ion-col>
			<ion-col col-2>
				<br>
				  <ion-icon name="arrow-round-forward"></ion-icon>
			</ion-col>
			<ion-col col-12>
				<hr>
			</ion-col>
    	</ion-row>

      
    </ion-card>

  </ion-row> -->

</ion-content>
