page-products {
	.bdstyle{
		background-image: url('../assets/imgs/Toyota_Camry_2017_nova_prvni_Perex_503_0.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle2{
		background-image: url('../assets/imgs/prado_bep_tech accordion hero_1920x1080.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle3{
		background-image: url('../assets/imgs/toyota_coaster_(mk3f)_(b50)_2014_600_0001-.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle4{
		background-image: url('../assets/imgs/toyota-tacoma-2016.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle5{
		background-image: url('../assets/imgs/Toyota_Dyna_150-4.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle6{
		background-image: url('../assets/imgs/Toyota_Fortuner_SUV_car.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.card-md{
		box-shadow: none;
	}
	ion-card{
		margin-top: -10px;
	}
	.card-ios{
		box-shadow: none !important;
	}

	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
		border-bottom: none !important;
	}
}
