<ion-header>

  <ion-navbar color="danger">
    <ion-title>Feed Back</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div *ngIf="feedback.vehicle_model">
					<h4>Vehicle Model: <br>{{ feedback.vehicle_model }}</h4>
					<hr>
					<h4>Vehicle Type: <br>{{ feedback.vehicle_type }}</h4>
					<hr>
					<h4>Complain: <br>{{ feedback.complain }}</h4>
				</div>
				<div *ngIf="feedback.suggestion">
					<p>Suggestion: <br>
					{{feedback.suggestion}}</p>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-left>
				Status <button ion-button color="danger">Pending</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
