<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{ vehicle.vehicle_model }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		
		<ion-row>
			<ion-col col-12>
				<img [src]="'assets/imgs/'+vehicle.vehicle_image_1">
			</ion-col>
			<ion-col col-6>
				<img [src]="'assets/imgs/'+vehicle.vehicle_image_2">
			</ion-col>
			<ion-col col-6>
				<img [src]="'assets/imgs/'+vehicle.vehicle_image_3">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button ion-button color="danger" *ngIf="!quote" (click)="showform()">Request Quote</button>

				<div *ngIf="quote">
					<form (ngSubmit)="addquotation(f)" #f="ngForm">
					<ion-list radio-group 
				  		name="callrequest"
				  		required
				  		[(ngModel)]="call">
					  <ion-list-header>
					    <h3 class="call">Options</h3>
					  </ion-list-header>

					  <ion-item>
					    <ion-label>Purchase</ion-label>
					    <ion-radio checked="true" value="yes"></ion-radio>
					  </ion-item>

					  <ion-item>
					    <ion-label>Maintenance</ion-label>
					    <ion-radio value="no"></ion-radio>
					  </ion-item>

					</ion-list>
					<div *ngIf="call == 'yes'" >
						<ion-item>
								<ion-label stacked>Quantity</ion-label>
								<ion-input 
								type="number" 
								name="quantity" 
								placeholder=""
								required
								ngModel
								[value]="model"></ion-input>
							</ion-item>
							
					</div>

					<div *ngIf="call == 'no'" >
						<ion-item>
							<ion-label floating>Comment.</ion-label>
							<ion-textarea 
							name="comment"
							required
							ngModel></ion-textarea>
						</ion-item>
					</div>
					<br><br>
						<button text-center block ion-button color="danger" [disabled]="!f.valid">Request</button>
					
					</form>

				</div>

				<br><br>
				<h6>Vehicle Model: {{ vehicle.vehicle_model }}</h6>
				<hr>
				<h6>Vehicle Type: {{ vehicle.vehicle_type }}</h6>
				<hr>
				<h6>Vehicle Year: {{ vehicle.vehicle_year }}</h6>
				<hr>
				<h6>Standard Feature:</h6>
				{{ vehicle.standard_feature }}
				<br><br><br><br>
				
				
			</ion-col>
			
			
		</ion-row>
	</ion-grid>
</ion-content>
