page-vehiclemodels {
	.bdstyle{
		background-image: url('../assets/imgs/toyota-corolla-25.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle2{
		background-image: url('../assets/imgs/Toyota_Fortuner_SUV_car.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle3{
		background-image: url('../assets/imgs/2006-toyota-dyna-8_1600x0w.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.bdstyle4{
		background-image: url('../assets/imgs/Toyota Spare Parts.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		height: 200px;
		color: #fff;
		// border-radius: 2px;
		text-shadow: 2px 2px #000;
		text-align: left;
		padding: 32px;
		padding-top: 120px;
		h2{
		font-weight:bold;
		font-size: 3.5rem;
		}
	}

	.card-md{
		box-shadow: none;
	}
	ion-card{
		margin-top: -10px;
	}
	.card-ios{
		box-shadow: none !important;
	}

	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
		border-bottom: none !important;
	}
}
